<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		<link href="../../static/favicon.ico" rel="shortcut icon">
		<title>Group 19 Environmental Monitoring System</title>
		<link rel="shortcut icon" href="#" />
		<link rel="stylesheet" href="../../static/style.css">
	</head>
	<body>		
		<div class="site-content">
			<div class="site-header">
				<div class="container">
					<a href="index.html" class="branding">
						<img src="../../static/images/logo.png" alt="" class="logo">
						<div class="logo-type">
							<h1 class="site-title">P19 GROUP</h1>
							<h1 class="site-title">Environmental Monitoring System</h1>
							<small class="site-description">to be perfect</small>
						</div>
					</a>
					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item current-menu-item"><a href="index.html">Home page</a></li>
							<li class="menu-item"><a href="secondWeb/contact.html">Contact us</a></li>
						</ul>
					</div>
				</div>
			</div> 
			<div class="hero" data-bg-image="../static/images/banner.png">
			</div>
			<div class="forecast-table">
				<div class="container">
					<div class="forecast-container">
						<div class="today forecast">
							<div class="forecast-content">
								<div class="location">The current temperature</div>
								<div class="degree">
									<div class="num"><p id="wd">wd</p><sup>o</sup>C</div>
								</div>
							</div>
						</div>
						<div class="today forecast">
							<div class="forecast-content">
								<div class="location">The current humidity</div>
								<div class="degree">
									<div class="num"><p id="sd">sd</p>%</div>
								</div>
							</div>
						</div>
						<div class="today forecast">
							
							<div class="forecast-content">
								<div class="location">Current co2 concentration</div>
								<div class="degree">
									<div class="num"><p id="co2">co2</p><sup>(PPM)</sup></div>
								</div>
							</div>
						</div>
						</div> 
					</div>
				</div>
			</div>
			<script>
				var wdq = document.querySelector("#wd");
				var sdq = document.querySelector("#sd");
				var co2q = document.querySelector("#co2");
				var xhr = new XMLHttpRequest();
            var massage ;
            xhr.open('GET',"http://43.138.132.187:4350/realTime",true);
            xhr.send(null);
            xhr.onreadystatechange = function(){
                massage = xhr.responseText;
                var wdlocation = massage.indexOf("temperature");
                var sdlocation = massage.indexOf("humidity");
                var co2location = massage.indexOf("co2");
                var timelocation = massage.indexOf("time");
                sd = massage.substring(sdlocation+10,sdlocation+14);
                co2 = massage.substring(co2location+5,co2location+10);
                wd = massage.substring(wdlocation+13,wdlocation+17);
                time = massage.substring(timelocation+7,massage.length-3);
                if (xhr.readyState==4 && xhr.status==200){
                    wdq.innerHTML = wd;
                    sdq.innerHTML = sd;
                    co2q.innerHTML = co2;
                }
            }  	
		   </script>
			<main class="main-content">
				<div class="fullwidth-block">
					<div class="container">
						<h2 class="section-title">View detailed data</h2>
						<div class="row">
							<div class="col-md-3 col-sm-6">
								<div class="live-camera">
									<a href="secondWeb/temperature.html">
									<img src="../../static/images/temperature.png" width="300px">
								</a>
								</div>
							</div>							
							<div class="col-md-3 col-sm-6">
								<div class="live-camera">
									<a href="secondWeb/rh.html"><img src="../../static/images/rh.png" width="300px">
									</a>								
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="live-camera">
									<a href="secondWeb/co2.html"><img src="../../static/images/co2.png" width="300px">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
			<footer class="site-footer">
				<div class="container">
					<div class="row">
						<a href="secondWeb/contact.html"> Need help? Please contact us!</a>
					</div>
					<p class="colophon">Modified by Chen Haoxiang based on the Weather project of Themezy.</p>
					<p class="colophon">Copyright 2022 P19Group.All rights reserved.</p>
				</div>
			</footer>
		</div>		
		<script src="../../static/js/jquery-1.11.1.min.js"></script>
		<script src="../../static/js/plugins.js"></script>
	</body>
</html>