<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		<link href="../static/favicon.ico" rel="shortcut icon">
		<title>Group 19 Environmental Monitoring System</title>
		<script src="../static/echarts.js"></script>
		<link rel="shortcut icon" href="#" />
		<link rel="stylesheet" href="../static/style.css">
	</head>
	<body>	
		<div class="site-content">
			<div class="site-header">
				<div class="container">
					<a href="index.html" class="branding">
						<img src="../static/images/logo.png" alt="" class="logo">
						<div class="logo-type">
							<h1 class="site-title">P19 GROUP</h1>
							<h1 class="site-title">P19 GROUP</h1>
							<small class="site-description">to be perfect</small>
						</div>
					</a>
					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item current-menu-item"><a href="index.html">Home page</a></li>
							<li class="menu-item"><a href="contact.html">Contact us</a></li> 
						</ul>
					</div>
					<div class="mobile-navigation"></div>
				</div>
			</div>
			<div class="forecast-table">
				<div class="container">
				<div class="qqgg" style="width: 360px;height:400px;"></div>
				<script>
					var biao = echarts.init(document.querySelector(".qqgg"));        
  var xhr = new XMLHttpRequest();
  var sda = [];
  var timea = [];
  var massage ;
  function getdata() {
	  xhr.open('GET',"http://43.138.132.187:4350/realTime",true);
  xhr.send(null);
  xhr.onreadystatechange = function(){
	  massage = xhr.responseText;
	  var sdlocation = massage.indexOf("rh");
	  var timelocation = massage.indexOf("time");
	  sd = massage.substring(sdlocation+10,sdlocation+14);
	  time = massage.substring(timelocation+7,massage.length-3);
	  if (xhr.readyState===4 && xhr.status===200){
		  sda.push(sd);
		  timea.push(time);
	  }
  }
  return {
value: [
	time,sd
]
  }
}
for (var i = 0; i < 50; i++) {
sda.push(0);
timea.push('')
}
option = {
title: {
text: 'Real-time humidity data(%)'
},
tooltip: {
trigger: 'axis',
},
xAxis: {
type: 'category',
splitLine: {
	show: false
},
data: timea
},
yAxis: {
type: 'value',
boundaryGap: [0, '100%'],
splitLine: {
	show: false
}
},
series: [{
name: 'Humidity data',
type: 'line',
showSymbol: false,
hoverAnimation: false,
data: sda
}]
};
setInterval(function () {
getdata();
biao.setOption({
xAxis: {
  data: timea  
},
series: [{
	data: sda
}]
});
}, 6001);
biao.setOption(option);
				</script>
					</div>
				</div>
			</div>
			</main>
			<footer class="site-footer">
				<div class="container">
					<div class="row">
						<a href="./contact.html"> Need help? Please contact us!</a>
					</div>
					<p class="colophon">Modified by Chen Haoxiang based on the Weather project of Themezy.</p>
					<p class="colophon">Copyright 2022 P19Group.All rights reserved.</p>
				</div>
			</footer>
		</div>
		<script src="../static/js/jquery-1.11.1.min.js"></script>
		<script src="../static/js/plugins.js"></script>
		<script src="../static/js/app.js"></script>
	</body>
</html>